body {
    display: flex;
    background-color: #E8E7E3;
    border: 1px #525333 solid;
    width: 750px;
    height: 200px;
    margin: 50px auto;
    color: #CF8852;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #525333;
}

.Image{
    width: 350px;
    height: 200px;
    margin: 0px auto;
    border-radius: 20px;
}

.text {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E6FOFA;
}